<h2><%=l(:label_document)%></h2>

<% form_tag({ :controller => 'encrypted_documents', :action => 'edit', :id => @document}, :class => "tabular") do %>
  <%= render :partial => 'encrypted_documents/form' %>
  <%= submit_tag l(:button_save) %>
<% end %>


